h1 {
    font-size: 70px;
    text-align: center;
    color: #0abab5;
    background-color: white;
    border: solid 5px #0abab5;
    font-family: 'itc tiffany';
    font-weight: 100;
    padding: 1%;
}

#container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
}

.box {
    position: absolute;
    top: 430px;
    left: 900px;
    text-align: center;
}

.scores {
    font-family: 'itc tiffany';
    color: #0abab5;
    background-color: white;
    border: solid 5px #0abab5;
    padding: 10%;
}

span {
    background-color: white;
    color: #0abab5;
}

.box1 {
    position: absolute;
    top: 830px;
    left: 775px;
    font-family: 'itc tiffany';
    text-align: center;
    border: solid 4px#0abab5;
    background-color: whitesmoke;
    color: #0abab5;
    padding: 5px;
    padding-left: 2%;
    padding-right: 3%;
}

.box2 {
    position: absolute;
    top: 900px;
    left: 775px;
    font-family: 'itc tiffany';
    text-align: center;
    border: solid 4px #0abab5;
    background-color: whitesmoke;
    color: #0abab5;
    padding: 5px;
    padding-left: 2%;
    padding-right: 2%;
}
#instructions{
    background-color: white;
    color:#0abab5;
    border:solid #0abab5 4px;
    font-family: 'itc tiffany';
    padding-left: 2%;
    padding-right: 2%;
    margin-right:12%;
    position: absolute;
    top: 850px;
    left:180px;
}
.gembox {
    padding-left: 66px;
    margin-top: 15%;
    margin-bottom: 1%;
}

#image {
    position: absolute;
    top: 540px;
    left: 250px;
}

#red {
    width: 100px;
    height: 100px;
    border: solid #0abab5 2px;
    position: absolute;
    top: 640px;
    left: 610px;
}

#blue {
    width: 100px;
    height: 100px;
    border: solid #0abab5 2px;
    position: absolute;
    top: 640px;
    left: 850px;
}

#green {
    width: 100px;
    height: 100px;
    border: solid #0abab5 2px;
    position: absolute;
    top: 640px;
    left: 730px;
}

#pink {
    width: 100px;
    height: 100px;
    border: solid #0abab5 2px;
    position: absolute;
    top: 640px;
    left: 970px;
}

@media screen and (max-width:1400px) {
    .gembox {
        padding-left: 66px;
        margin-top: 15%;
        margin-bottom: 1%;
    }
    #image {
        position: absolute;
        top: 540px;
        left: 250px;
    }
    #instructions{
    padding-left: 2%;
    padding-right: 2%;
    margin-right:12%;
    position: absolute;
    top: 850px;
    left:180px;
    }
}

@media screen and (max-width:980px) {
    .gembox {
        padding-left: 0px;
        margin-top: 15%;
        margin-bottom: 1%;
    }
    #image {
        position: absolute;
        top: 540px;
        left: 130px;
    }
    #instructions{
        padding-left: 2%;
        padding-right: 2%;
        position: absolute;
        top: 850px;
        left:130px;
        }
    #red {
        width: 100px;
        height: 100px;
        border: solid #0abab5 2px;
        position: absolute;
        top: 610px;
        left: 450px;
    }
    #blue {
        width: 100px;
        height: 100px;
        border: solid #0abab5 2px;
        position: absolute;
        top: 610px;
        left: 710px;
    }
    #green {
        width: 100px;
        height: 100px;
        border: solid #0abab5 2px;
        position: absolute;
        top: 610px;
        left: 580px;
    }
    #pink {
        width: 100px;
        height: 100px;
        border: solid #0abab5 2px;
        position: absolute;
        top: 610px;
        left: 840px;
    }
    .box1 {
        position: absolute;
        top: 830px;
        left: 675px;
    }
    .box2 {
        position: absolute;
        top: 830px;
        left: 775px;
    }
    .box {
        position: absolute;
        top: 380px;
        left: 750px;
    }
}

@media screen and (max-width:375px) {
    .gembox {
        padding-left: 0px;
        margin-top: 15%;
        margin-bottom: 1%;
    }
    #image {
        position: absolute;
        top: 640px;
        left: 70px;
    }
    #red {
        width: 100px;
        height: 100px;
        border: solid #0abab5 2px;
        position: absolute;
        top: 710px;
        left: 400px;
    }
    #blue {
        position: absolute;
        top: 710px;
        left: 640px;
    }
    #green {
        position: absolute;
        top: 710px;
        left: 520px;
    }
    #pink {
        position: absolute;
        top: 710px;
        left: 760px;
    }
    #instructions{
        padding-left: 2%;
        padding-right: 2%;
        position: absolute;
        top: 900px;
        left:80px;
        }
    .box1 {
        position: absolute;
        top: 830px;
        left: 675px;
    }
    .box2 {
        position: absolute;
        top: 830px;
        left: 775px;
    }
    .box {
        position: absolute;
        top: 480px;
        left: 690px;
    }
    h1 {
        text-align: center;
    }
}